body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

p {
    font-size: 24px;
    margin-top: 50px;
}

#resultado {
    font-weight: bold;
    color: #4CAF50;
}

footer {
    margin-top: 30px;
    font-size: 14px;
    color: #777;
}